.body{
    margin: 0px;
}

.background{
    width: 100%;
    height: 100%;
    background-image: url(resources/background2.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}

.boy{
     height: 260px;
     margin-top: 390px;
     position: absolute;
}

.box{
   width: 150px;
   height: 150px;
   /* background-color: red; */
   position: absolute; 
   margin-top: 525px;
   background-image: url(resources/dragon.gif);
   background-size: contain;
   background-repeat: no-repeat;
   

}

.score{
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
}

.end{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(90den, #8E0E00 0%, #1F1C18 100%);
    display: flex;
    
}